#container-scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Webkit (Chrome, Safari, Opera) scrollbar */
#container-scroll::-webkit-scrollbar {
    width: 1px;
}

#container-scroll::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 3px;
}

/* #container-scroll::-webkit-scrollbar-track {
    background: #f1f1f100;
} */

/* Firefox scrollbar */
#container-scroll {
    scrollbar-width: thin;
}

#container-scroll::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 8px;
}

/* #container-scroll::-webkit-scrollbar-track {
    background: rgba(124, 11, 11, 0); 
  } */