/* .layout {
    background-image: url('../assets/rainbow-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
}

.layout::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
